* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    margin: auto;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card {
    border-radius: 3em;
    width: 10%;
    height: 100%;
    overflow: hidden;
    transition: ease 0.4s;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.open {
    width: 60%;
}